:root {
    --game-border: 5px solid rgba(0, 0, 0, 0.637);
    --header-footer-border: 3px solid rgba(36, 36, 36, 0.753);
    --main-box-shadow: 0 5px 5px rgba(36, 36, 36, 0.753);
    --main-color: rgba(36, 36, 36, 0.753);
}

body, button {
    margin: 0;
    font-family: 'Poor Story', cursive;
    font-weight: bolder;
    color: var(--main-color);
}

.header {
    font-size: 36px;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    text-align: center;
    align-items: center;
    border-bottom: var(--header-footer-border);
    padding: 5px 0;
    box-shadow: var(--main-box-shadow);
}

.header p {
    text-align: left;
}
#wins {
    transition-duration: .5s;
}

/* Animation Player */
@keyframes playerTransition {
    from {left: -50%}
    to {left: 0;}
}
.animate {
    animation-name: playerTransition;
    animation-timing-function: ease-in-out;
    animation-duration: .3s;
    animation-iteration-count: 1;
}
.info {
    text-align: center;
    padding: 25px 0 0 0;
    font-size: 30px;
}
.info .player {
    border: 5px solid rgba(255, 255, 255, 0);
}

.resetInfo {
    opacity: 0%;
}
.resetInfo button {
    font-size: 30px;
    font-weight: bolder;
    border: 5px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}
.resetInfo button:hover {
    border: var(--game-border);
    cursor: pointer;
}

/* Board Styles */
#board {
    display: grid;
    width: 60%;
    margin: 50px auto 200px auto;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
}
.playArea {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin: 0;
    gap: 0;
    transition-duration: .2s;
}
.playArea:hover {
    background-color:rgba(0, 0, 0, 0.17);
    cursor: pointer;
}
.playArea:nth-child(5) {
    border: var(--game-border);
}

.playArea:nth-child(4), .playArea:nth-child(6) {
    border-top: var(--game-border);
    border-bottom: var(--game-border);
}

.playArea:nth-child(2), .playArea:nth-child(8) {
    border-right: var(--game-border);
    border-left: var(--game-border);
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: var(--header-footer-border);
    box-shadow: var(--main-box-shadow);
    padding: 25px;
}